@if (visible()){
<c-toaster
  [placement]="placement"
  class="fixed bottom-5 left-1/2 transform -translate-x-1/2 w-full max-w-sm"
>
  <c-toast
    [visible]="visible()"
    class="bg-gray-800 text-white rounded-lg shadow-lg p-4 flex items-center justify-between"
  >

      <c-toast-body class="text-center">
        {{ lastDeletedTask?.title }} was deleted.
        <button
          (click)="undoDelete()"
          class="ml-2 text-blue-400 hover:text-blue-300 font-semibold"
        >
          Undo
        </button>
      </c-toast-body>

  </c-toast>
</c-toaster>


}

<div class="p-4">
  <div class="flex justify-center items-center pb-5">
    <app-button
      [btnClass]="
        'px-6 py-2 bg-black text-white rounded-lg hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px] flex items-center space-x-2 cursor-pointer transition-all border-black rounded-md border-b-[2px]'
      "
      [icon]="faPlus"
      (handleClick)="openAddDialog()"
    >
    </app-button>
  </div>

  <div class="flex justify-end space-x-2 mb-4">
    @for (sortType of ['dateAdded', 'dueDate', 'priority']; track sortType) {
    <app-button
      [text]="
        'Sort by ' +
        (sortType === 'dateAdded'
          ? 'Date Added'
          : sortType === 'dueDate'
          ? 'Due Date'
          : 'Priority')
      "
      [btnClass]="
        'px-4 py-2 text-sm rounded transition-all cursor-pointer ' +
        (sortBy === sortType
          ? 'bg-gray-500 text-white'
          : 'bg-gray-300 hover:shadow-lg')
      "
      (handleClick)="changeSorting(sortType)"
    >
    </app-button>
    }
  </div>

  <ul class="space-y-4">
    @if (sortedTasks.length === 0) {
    <li class="p-4 text-center text-gray-500 text-xl">
      No tasks available. Click the **+** button to add one.
    </li>
    } @else { @for (task of sortedTasks; track task.id) {
    <li
      class="p-4 bg-white shadow-md rounded-lg border-l-4 flex justify-between items-center transition-all duration-300 hover:shadow-lg"
      class="{{
        task.priority === 'High'
          ? 'border-red-500'
          : task.priority === 'Medium'
          ? 'border-yellow-500'
          : 'border-green-500'
      }}"
    >
      <div class="flex items-center space-x-3">
        <input
          type="checkbox"
          [checked]="task.status"
          (change)="toggleTaskDone(task)"
          class="w-5 h-5 accent-gray-800"
          aria-label="check"
        />

        <div class="{{ task.status ? 'line-through text-gray-400' : '' }}">
          <h3 class="text-lg font-semibold">{{ task.title }}</h3>
          <p class="text-sm text-gray-500">Due Date: {{ task.dueDate }}</p>
          <p class="text-sm text-gray-500">Due Time: {{ task.dueTime }}</p>
          <p
            class="text-xs font-bold {{
              task.priority === 'High'
                ? 'text-red-500'
                : task.priority === 'Medium'
                ? 'text-yellow-500'
                : 'text-green-500'
            }}"
          >
            Priority: {{ task.priority }}
          </p>
        </div>
      </div>

      <div class="flex space-x-3">
        <app-button
          [btnClass]="'text-blue-500 hover:text-blue-700 flex items-center cursor-pointer'"
          [icon]="faEdit"
          (handleClick)="openEditDialog(task)"
        >
        </app-button>

        <app-button
          [btnClass]="'text-red-500 hover:text-red-700 flex items-center cursor-pointer'"
          [icon]="faTrash"
          (handleClick)="openDeleteDialog(task)"
        >
        </app-button>
      </div>
    </li>
    } }
  </ul>
</div>
